body {
	font-family: sans-serif;
	margin: auto;
	max-width: 1280px;
}

h1{
	font-size:40px;
	margin-top:30px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	color:#085ac0;
	text-shadow:0.1em 0.1em 0.2em #888888;
	font-family:"Century Gothic";
	font-weight: 500;
}

h2{
	font-family:"Century Gothic";
	font-weight: bold;
	margin-left:15px;
	margin-right:15px;
	color: #696969;
}

hr{
	margin-top:50px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
}

footer{
	color:#666666;
	background-color:#eaeaea;
	text-align:center;
}
h4{
	font-size:40px;
	margin-top:30px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	color:#085ac0;
	text-shadow:0.1em 0.1em 0.2em #888888;
	font-family:"Century Gothic";
	font-weight: 500;
	animation-name:slidein;
	animation-duration: 3s;
}

p{
	margin-left:15px;
	margin-right:15px;
}

table{
	margin-left:15px;
	margin-right:15px;
}

img{
	margin-left:15px;
	margin-right:15px;
}

@keyframes slidein{
        from{
                margin-left: 100%;
                width: 300%;
        }
        to{
                margin-left: 0%;
                width: 100%;
        }
}
